<!-- _btn_bell.html -->
<button class="btn position-relative text-white" id="cartButton" aria-expanded="false">
<i class="bi bi-cart" style="font-size: 1.5rem;"></i>
<span id="cartBadge" class="badge badge-danger position-absolute"
        style="top: 10px; right: 10px; border-radius: 50%; width: 18px; height: 18px; padding: 0; z-index: 10; display: none;">
    <span id="cartCount" style="font-size: 0.75rem; position: relative; top: 2px;"></span>
</span>
</button>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    // Funzione per controllare il carrello
    function checkCart() {
        fetch('/api/cart_check/', { 
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': "{{ csrf_token }}"
            },
            credentials: 'include'
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            const cartBadge = document.getElementById('cartBadge');
            const cartCount = document.getElementById('cartCount');
            
            if (data.count > 0) {
                cartBadge.style.display = 'block';
                cartCount.textContent = data.count;
            } else {
                cartBadge.style.display = 'none';
            }
        })
        .catch(error => {
            console.error('Error checking cart:', error);
        });
    }
    checkCart();
});
</script>