{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}{{user.username}} - Sylvelius{% endblock %}
    
{% block middle %}
<script src="{% static 'js/toast.js' %}"></script>
{% if request.GET.evento == 'elimina_ut' %}
    <script>
        showBootstrapAlertWithIcon(
            "User modificato con successo!","good"
        );
    </script>
{% elif request.GET.evento == 'formatta_ut' %}
    <script>
        showBootstrapAlertWithIcon(
            "User formattato con successo!","good"
        );
    </script>
{% endif %}
<div class="container-fluid mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1>Benvenuto/a {{ user.username }}!</h1>
            <div class="mb-3 d-flex justify-content-center" style="gap: 2px;">
                <a href="{% url 'sylvelius:profile_edit' %}" class="btn btn-light btn-sm font-weight-bold text-dark" style="font-size: 1.1rem;">Modifica profilo</a>
                {% include "_btn_logout.html" %}
            </div>
        </div>
    </div>

    <!-- Sezione Ordini -->
    {% if 'moderatori' in user.groups.values_list|join:',' %}
    <div class="container-fluid mt-5 mb-5">
        <div class="row justify-content-center">
        <div class="col-md-10">
        {% if user_without_is_active %}
        
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Ultimo accesso</th>
                            <th>Azioni</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in user_without_is_active %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.last_login|date:"d/m/Y H:i" }}</td>
                            <td>
                                <form action="{% url 'sylvelius:espelli_utente' 'unban' user.id %}" method="post" class="d-inline-block" >
                                    {% csrf_token %}
                                    <button class="btn btn-success btn-sm sbanna-btn" onclick="return confirm('Sei sicuro di voler riammettere questo utente?');">
                                        Riammetti
                                    </button>
                                </form>
                                <form action="{% url 'sylvelius:formatta_utente' user.id %}" method="post" class="d-inline-block" >
                                    {% csrf_token %}
                                    <button class="btn btn-danger btn-sm cancella-btn" onclick="return confirm('Sei sicuro di voler cancellare tutta l\'attività di questo utente? IRREVERSIBILE');">
                                        Cancella attività
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="alert alert-info" role="alert">
                Nessun utente inattivo trovato.
            </div>
            {% endif %}
        </div>
    </div>
    {% else %}
    <div class="row justify-content-center mb-4">
        <div class="col-md-8 text-center">
            <h2>
                I miei ordini
                <a href="{% url 'sylvelius:profile_ordini' %}" class="btn btn-link btn-sm" style="font-size: 1rem;">Vedi tutti</a>
            </h2>
            {% if ordini %}
                <div class="scrolling-wrapper d-flex flex-row overflow-auto py-2">
                    {% for ordine in ordini|slice:MAX_SLICE_PROFILO_VALUE %}
                        <div class="card mx-2" style="min-width: 18rem; max-width: 18rem;">
                            <img
                                data-prodotto-id="{{ ordine.prodotto.id }}"
                                class="card-img-top immagine-asincrona"
                                alt="{{ ordine.prodotto.nome }}"
                                src="{% static 'img/default_loading.png' %}"
                            >
                            <div class="card-body">
                                <h5 class="card-text">{{ ordine.prodotto.nome }}</h5>
                                <p class="card-text">Quantità: {{ ordine.quantita }}</p>
                                <p class="card-text">{{ ordine.data_ordine|date:"d/m/Y" }}</p>
                                <p class="card-text">Totale: {{ ordine.totale }} €</p>
                                <p class="card-text">Stato: {{ ordine.stato_consegna }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>Non hai ancora effettuato ordini.</p>
            {% endif %}
        </div>
    </div>

    <!-- Sezione Annunci (Creazioni) -->
    <div class="row justify-content-center mb-4">
        <div class="col-md-8 text-center">
            <h2>
                I miei annunci
                <a href="{% url 'sylvelius:profile_annunci' %}" class="btn btn-link btn-sm" style="font-size: 1rem;">Vedi tutte</a>
            </h2>
            {% if annunci %}
                <div class="scrolling-wrapper d-flex flex-row overflow-auto py-2" style="margin-bottom: 14px;">
                    {% for annuncio in annunci|slice:MAX_SLICE_PROFILO_VALUE %}
                        <div class="card mx-2" style="min-width: 18rem; max-width: 18rem;">
                            <img
                                data-prodotto-id="{{ annuncio.prodotto.id }}"
                                class="card-img-top immagine-asincrona"
                                alt="{{ annuncio.prodotto.nome }}"
                                src="{% static 'img/default_loading.png' %}"
                            >
                            <div class="card-body">
                                <h5 class="card-title">{{ annuncio.prodotto.nome }}</h5>
                                <p class="card-text">{{ annuncio.prodotto.descrizione_breve|truncatewords:MAX_TRUNCATED_CARDS_CHARS }}</p>
                                <p class="card-text">Prezzo: {{ annuncio.prodotto.prezzo|intcomma }} €</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>Non hai ancora annunci.</p>
            {% endif %}
        </div>
    </div>

    <!-- Sezione Clienti -->
    <div class="row justify-content-center mb-4">
        <div class="col-md-8 text-center">
            <h2>
                I miei clienti
                <a {#href="{% url 'sylvelius:profile_clienti' %}"#} class="btn btn-link btn-sm" style="font-size: 1rem;">Vedi tutti</a>
            </h2>
            {% if clienti %}
                <div class="scrolling-wrapper d-flex flex-row overflow-auto py-2" style="margin-bottom: 14px;">
                    {% for cliente in clienti|slice:MAX_SLICE_PROFILO_VALUE %}
                        <div class="card mx-2" style="min-width: 18rem; max-width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{ cliente.username }}</h5>
                                {% if cliente.ordini_da_rifornire %}
                                    <p class="card-text">Ordini da rifornire: {{ cliente.ordini_da_rifornire|length }}</p>
                                    <ul class="list-unstyled">
                                        {% for ordine in cliente.ordini_da_rifornire|slice:MAX_LIST_CLIENTI_VALUE %}
                                            <li>
                                                {{ ordine.prodotto.nome }} (Quantità: {{ ordine.quantita }})
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p class="card-text">Nessun ordine da rifornire.</p>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>Non hai ancora clienti da rifornire.</p>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
<style>
.scrolling-wrapper {
    scrollbar-width: thin;
    scrollbar-color: {{SECONDARY_COLOR}} #f3f3f3;
}
.scrolling-wrapper::-webkit-scrollbar {
    height: 8px;
}
.scrolling-wrapper::-webkit-scrollbar-thumb {
    background: {{SECONDARY_COLOR}};
    border-radius: 4px;
}
</style>
{% if request.GET.evento == 'profile_edit'%}
    <script src="{% static 'js/toast.js' %}"></script>
    <script>
        showBootstrapAlertWithIcon(
            "Modifica account completata con successo!","good"
        );
    </script>
{% endif %}
<script src="{% static 'js/img_loader.js' %}"></script>
{% endblock %}
