{% extends "base.html" %}
{% load static %}
{% block title %}Crea Annuncio - Sylvelius{% endblock %}

{% block middle %}
{% if notok == '1' %}
<div class="alert alert-danger" role="alert">
    Si è verificato un errore durante la creazione dell'annuncio. Per favore, riprova.
</div>
{% endif %}
{% block sign_in_sign_up %}{% endblock %}
<div class="container mt-5 mb-5" style="max-width: 700px;">
    <div class="card shadow" style="border-color: {{SECONDARY_COLOR}};">
        <div class="card-header text-white" style="background-color: {{SECONDARY_COLOR}};">
            <h4 class="mb-0">Crea un nuovo annuncio</h4>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data" autocomplete="off">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_nome">Titolo</label>
                    <input type="text" class="form-control" id="id_nome" name="nome" maxlength="{{MAX_PROD_NOME_CHARS}}" required placeholder="Inserisci il titolo dell'annuncio">
                    <div class="invalid-feedback"></div>
                </div>

                <div class="form-group">
                    <label for="id_descrizione_breve">Descrizione Breve</label>
                    <input type="text" class="form-control" id="id_descrizione_breve" name="descrizione_breve" required maxlength="{{MAX_PROD_DESC_BR_CHARS}}" placeholder="Una breve descrizione">
                    <div class="invalid-feedback"></div>
                </div>

                <div class="form-group">
                    <label for="id_descrizione">Descrizione</label>
                    <textarea class="form-control" id="id_descrizione" name="descrizione" rows="4" maxlength="{{MAX_PROD_DESC_CHARS}}" placeholder="Descrivi il tuo annuncio (opzionale)"></textarea>
                    <div class="invalid-feedback"></div>
                </div>

                <div class="form-group">
                    <label for="id_prezzo">Prezzo (€)</label>
                    <input type="number" class="form-control" id="id_prezzo" name="prezzo" max="{{MAX_PROD_PREZZO_VALUE}}" step="0.01" min="{{MIN_PROD_PREZZO_VALUE}}" required placeholder="1.00">
                    <div class="invalid-feedback"></div> <!-- messaggio errore -->
                </div>
                <div class="form-group">
                    <label for="id_iva">IVA (IT)</label>
                    <select class="form-control" id="id_iva" name="iva" required>
                        <option value="{{ALIQUOTA_IVA_ORD}}">{{ALIQUOTA_IVA_ORD}}% - Aliquota ordinaria</option>
                        <option value="{{ALIQUOTA_IVA_RID}}">{{ALIQUOTA_IVA_RID}}% - Prodotti alimentari / farmaceutici</option>
                        <option value="{{ALIQUOTA_IVA_URID}}">{{ALIQUOTA_IVA_URID}}% - Dispositivi medici / prima necessità</option>
                        <option value="{{ALIQUOTA_IVA_ESE}}">{{ALIQUOTA_IVA_ESE}}% - Operazioni esenti</option>
                    </select>
                    <div id="prezzo-netto-feedback" class="text-success d-none"></div> 
                </div>
                <div class="form-group">
                    <label for="id_qta_magazzino">Quantità in Magazzino</label>
                    <input type="number" class="form-control" id="id_qta_magazzino" required max="{{MAX_ANNU_QTA_MAGAZZINO_VALUE}}" name="qta_magazzino" min="{{MIN_ORDN_QUANTITA_VALUE}}" value="{{MIN_ORDN_QUANTITA_VALUE}}">
                    <div class="invalid-feedback"></div>
                </div>

                <div class="form-group">
                    <label for="id_condizione">Condizione</label>
                    <select name="condizione" id="id_condizione" class="form-control" required>
                        {% for value, label in PROD_CONDIZIONE_CHOICES %}
                            <option value="{{ value }}">{{ label }}</option>
                        {% endfor %}
                    </select>
                    <div class="invalid-feedback"></div>
                </div>

                <div class="form-group">
                    <label for="id_tags_input">Categorie / Tags</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="id_tags_input" maxlength="{{MAX_TAGS_CHARS}}" placeholder="Scrivi un tag... (opzionale)" autocomplete="off">
                        <div class="invalid-feedback"></div>
                        <div id="id_tags_suggestions" class="list-group position-absolute w-100" style="top: 100%; left: 0; display: none; max-height: 200px; overflow-y: auto; z-index: 1200;"></div>
                    </div>
                    <div id="id_tags_selected" class="mt-2" style="min-height: 38px;"></div>
                    <input type="hidden" name="tags" id="id_tags_hidden">
                    <small class="form-text text-muted">Aggiungi più tags e cliccali per rimuoverli. (massimo {{MAX_TAGS_N_PER_PROD}})</small>
                </div>

                <div class="form-group">
                    <label for="id_immagini">Immagini</label>
                    <input type="file" class="form-control-file" id="id_immagini" name="immagini" multiple accept="image/*">
                    <div id="id_immagini_errore" class="invalid-feedback"></div>
                    <small class="form-text text-muted">Puoi caricare più immagini. (massimo {{MAX_IMGS_PER_ANNU_VALUE}})</small>
                </div>

                <button type="submit" id='crea-annuncio-btn'class="btn btn-primary" style="background-color: {{SECONDARY_COLOR}}; border: none; ">Crea Annuncio</button>
            </form>
        </div>
    </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function () {
    window.addEventListener('beforeunload', function() {
        observer.disconnect(); // Interrompi l'observer
    });
    const MIN_ORDN_QUANTITA_VALUE = {{MIN_ORDN_QUANTITA_VALUE}}
    const MAX_ANNU_QTA_MAGAZZINO_VALUE = {{MAX_ANNU_QTA_MAGAZZINO_VALUE}}
    const MIN_PROD_PREZZO_VALUE = {{MIN_PROD_PREZZO_VALUE}}
    const MAX_PROD_PREZZO_VALUE = {{MAX_PROD_PREZZO_VALUE}}
    const MAX_PROD_PREZZO_DIGITS_DECIMAL = {{MAX_PROD_PREZZO_DIGITS_DECIMAL.1}}
    const SYLVELIUS_FEES = {{SYLVELIUS_FEES}}
    const PROD_CONDIZIONE_CHOICES_ID = {{PROD_CONDIZIONE_CHOICES_ID|safe}}

    prezzoVal = document.getElementById("id_prezzo");
    qtaMagazzinoVal = document.getElementById("id_qta_magazzino");
    creaAnnuncioBtn = document.getElementById("crea-annuncio-btn");
    idTagsInput = document.getElementById("id_tags_input");
    idImmaginiErrore = document.getElementById("id_immagini_errore");

    function updateQtas() {
        if(qtaMagazzinoVal.value === ""){
            creaAnnuncioBtn.disabled = true;
            return;
        } else if(checkOthersValidation(qtaMagazzinoVal)){
            creaAnnuncioBtn.disabled = false;
        }
        let quantity = parseInt(qtaMagazzinoVal.value);

        // Se il valore è invalido o fuori range, correggilo
        if (isNaN(quantity) || quantity < MIN_ORDN_QUANTITA_VALUE) {
            quantity = MIN_ORDN_QUANTITA_VALUE;
        } else if (quantity > MAX_ANNU_QTA_MAGAZZINO_VALUE){
            quantity = MAX_ANNU_QTA_MAGAZZINO_VALUE;
        }

        qtaMagazzinoVal.value = quantity;
    }
    function updatePrices() {
        const nettoDiv = document.getElementById('prezzo-netto-feedback');
        const ivaVal = parseFloat(document.getElementById('id_iva').value);

        if (prezzoVal.value === "") {
            creaAnnuncioBtn.disabled = true;
            nettoDiv.classList.add('d-none');
            return;
        } else if (checkOthersValidation(prezzoVal)){
            creaAnnuncioBtn.disabled = false;
        }

        let prezzo = parseFloat(prezzoVal.value);

        // Se il valore è invalido o fuori range, correggilo
        if (isNaN(prezzo) || prezzo < MIN_PROD_PREZZO_VALUE) {
            prezzo = MIN_PROD_PREZZO_VALUE;
        } else if (prezzo > MAX_PROD_PREZZO_VALUE) {
            prezzo = MAX_PROD_PREZZO_VALUE;
        } else if (prezzo % 1 !== 0) {
            const factor = Math.pow(10, MAX_PROD_PREZZO_DIGITS_DECIMAL);
            prezzo = Math.round(prezzo * factor) / factor;
        }

        prezzoVal.value = prezzo;

        if (prezzo >= MIN_PROD_PREZZO_VALUE) {
            prezzo = prezzo * (1.0 - SYLVELIUS_FEES);
            const netto = ivaVal === 0 ? prezzo.toFixed(MAX_PROD_PREZZO_DIGITS_DECIMAL) : (prezzo * (1 - ivaVal / 100)).toFixed(MAX_PROD_PREZZO_DIGITS_DECIMAL);
            nettoDiv.textContent = `Ricavo netto con IVA al ${ivaVal}% e costi di commissione al ${SYLVELIUS_FEES*100.0}%: €${netto}`;
            nettoDiv.classList.remove('d-none');
        } else {
            nettoDiv.classList.add('d-none');
        }
    }


    // Aggiorna i prezzi al cambio
    qtaMagazzinoVal.addEventListener('input', updateQtas);
    prezzoVal.addEventListener('input', updatePrices); // Inizializza al caricamento
    document.getElementById('id_iva').addEventListener('change', updatePrices);

    setupSuggestions({
        inputId: 'id_tags_input',
        suggestionsId: 'id_tags_suggestions',
        wsUrl: '/ws/tags/',
        containerId: 'id_tags_selected',
        hiddenInputId: 'id_tags_hidden',
        isMulti: true
    });
    // Dopo setupSuggestions()
    const tagsContainer = document.getElementById('id_tags_selected');

    // Observer per rilevare aggiunta/rimozione di tag
    const observer = new MutationObserver(function(mutations) {
        const error = validateField('tags', document.getElementById('id_tags_input'));
        if (error) {
            showError(document.getElementById('id_tags_input'), error);
        } else {
            clearError(document.getElementById('id_tags_input'));
        }
        if(checkOthersValidation(qtaMagazzinoVal)){
            creaAnnuncioBtn.disabled = false;
        }
    });

// Configura l'observer per monitorare aggiunta/rimozione di figli
    observer.observe(tagsContainer, {
        childList: true,  // Osserva cambiamenti nei figli (tag aggiunti/rimossi)
        subtree: true     // Monitora anche eventuali sotto-nodi
    });

    const form = document.querySelector('form');
    const fields = {
        nome: document.getElementById('id_nome'),
        descrizione_breve: document.getElementById('id_descrizione_breve'),
        descrizione: document.getElementById('id_descrizione'),
        prezzo: document.getElementById('id_prezzo'),
        qta_magazzino: document.getElementById('id_qta_magazzino'),
        condizione: document.getElementById('id_condizione'),
        tags: document.getElementById('id_tags_input'),
        immagini: document.getElementById('id_immagini')
    };

    function showError(input, message) {
        input.classList.add('is-invalid'); // se usi anche validazione positiva

        // cerca il div di errore nel contenitore del campo
        const error = input.parentNode.querySelector('.invalid-feedback');
        if (error) {
            error.textContent = message;
            error.classList.remove('d-none'); // nel caso tu voglia nasconderli di default
        }
    }


    function clearError(input) {
        input.classList.remove('is-invalid');
        const error = input.parentNode.querySelector('.invalid-feedback');
        if (error) {
            error.textContent = '';
            error.classList.add('d-none');
        }
    }

    function validateField(field, input) {
        const value = input.value.trim();
        switch (field) {
            case 'nome':
                if (!value) return 'Il titolo è obbligatorio.';
                break;
            case 'descrizione_breve':
                if (!value) return 'La descrizione breve è obbligatoria.';
                break;
            case 'prezzo':
                const prezzo = parseFloat(value);
                if (isNaN(prezzo) || prezzo < MIN_PROD_PREZZO_VALUE) return 'Il prezzo deve essere un numero positivo maggiore di {{MIN_PROD_PREZZO_VALUE}}0€.';
                break;
            case 'qta_magazzino':
                const qta = parseInt(value);
                if (isNaN(qta) || qta < MIN_ORDN_QUANTITA_VALUE) return 'La quantità deve essere un numero intero positivo maggiore di {{MIN_ORDN_QUANTITA_VALUE}}.';
                break;
            case 'condizione':
                if (!value) return 'Seleziona una condizione fra quelle presenti.';
                let boole = true;
                for (let condizione of PROD_CONDIZIONE_CHOICES_ID){
                    if(value === condizione){
                        boole = false;
                    }
                }
                if(boole) return 'Seleziona una condizione fra quelle presenti.';
                break;
            case 'tags':
                const selectedTags = document.getElementById('id_tags_selected').querySelectorAll('.badge');
                const MAX_TAGS = {{ MAX_TAGS_N_PER_PROD }};
                
                if (selectedTags.length > MAX_TAGS) {
                    creaAnnuncioBtn.disabled = true;
                    return `Puoi inserire al massimo ${MAX_TAGS} tag.`;
                }
                if(checkOthersValidation(idTagsInput)){
                    creaAnnuncioBtn.disabled = false;
                }
                break;
                
            case 'immagini':
                if (input.files.length > 0) {
                    // Verifica il numero massimo di immagini (es. max 5)
                    const MAX_IMMAGINI = {{MAX_IMGS_PER_ANNU_VALUE}};
                    if (input.files.length > MAX_IMMAGINI) {
                        creaAnnuncioBtn.disabled = true;
                        return `Puoi caricare al massimo ${MAX_IMMAGINI} immagini.`;
                    }
                }
                for (let file of input.files) {
                    if (!file.type.startsWith('image/')) {
                        creaAnnuncioBtn.disabled = true;
                        return 'Puoi caricare solo file immagine.';
                    }
                }
                if(checkOthersValidation(idImmaginiErrore)){
                    creaAnnuncioBtn.disabled = false;
                }
                break;
        }
        return null;
    }

    Object.entries(fields).forEach(([name, input]) => {
        input.addEventListener('input', () => {
            const error = validateField(name, input);
            if (error) showError(input, error);
            else clearError(input);
        });
    });

    function checkOthersValidation(value) {
        const hasPriceError = prezzoVal.classList.contains('is-invalid');
        const hasQuantityError = qtaMagazzinoVal.classList.contains('is-invalid');
        const hasTagsError = idTagsInput.classList.contains('is-invalid');
        const hasImagesError = idImmaginiErrore.classList.contains('d-none');
        
        if (value === prezzoVal) {
            return !hasQuantityError && !hasTagsError && hasImagesError;
        } else if (value === qtaMagazzinoVal) {
            return !hasPriceError && !hasTagsError && hasImagesError;
        } else if (value === idTagsInput) {
            return !hasPriceError && !hasQuantityError && hasImagesError;
        } else if (value === idImmaginiErrore) {
            return !hasPriceError && !hasQuantityError && !hasTagsError;
        }
    return false;
}
    form.addEventListener('submit', function (e) {
        e.preventDefault();
        let isValid = true;

        Object.entries(fields).forEach(([name, input]) => {
            const error = validateField(name, input);
            if (error) {
                showError(input, error);
                isValid = false;
            } else {
                clearError(input);
            }
        });

        if (isValid) {
            form.submit();
        }
    });
    // Blocca invio su alcuni campi
    ['id_prezzo', 'id_descrizione_breve', 'id_qta_magazzino', 'id_nome', 'id_tags_input'].forEach(id => {
        document.getElementById(id).addEventListener('keydown', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault();
            }
        });
    });
});
</script>
<style>
    .badge-primary {
        background-color: {{TERTIARY_COLOR}} !important;
        color: white !important;
        border: none !important;
    }
    
    .badge-primary:hover {
        background-color: {{SECONDARY_COLOR}} !important;
    }
</style>
{% endblock %}
