{% extends "base.html" %}
{% load static %}
{% block sign_in_sign_up %}
    {% include "_btn_toprightbuttons.html" %}
{% endblock %}
{% block middle %}
<script src="{% static 'js/toast.js' %}"></script>
{% if request.GET.evento == 'logout'%}
    <script>
        showBootstrapAlertWithIcon(
            "Logout completato con successo!","good"
        );
    </script>
{% elif request.GET.evento == 'crea_annuncio' %}
    <script>
        showBootstrapAlertWithIcon(
            "Annuncio creato con successo!","good"
        );
    </script>
{% elif request.GET.evento == 'elimina_pub' %}
    <script>
        showBootstrapAlertWithIcon(
            "Annuncio eliminato con successo!","good"
        );
    </script>
{% endif %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            {% block main_header %}
                <h1>Benvenuto su <strong>Sylvelius</strong>!</h1>
                <p class="lead">Questa è la piattaforma ideale per gli appassionati di sport!</p>
            {% endblock %}
            <div class="row">
                {% include "_card_annuncio.html" %}
            </div>

            <!-- Navigazione pagine -->
            {% include "_btn_paginazione.html" %}
            <p class="mt-3">Scopri ciò che cerchi veramente e molto altro ancora filtrando la ricerca!</p>
        </div>
    </div>
</div>
<script src="{% static 'js/img_loader.js' %}"></script>
{% endblock %}
