{% extends "base.html" %}
{% load static %}
{% block title %}Login - Sylvelius{% endblock %}
{% block search_bar %}{% endblock %}
{% block middle %}
{% if request.GET.auth == "notok" %}
<script src="{% static 'js/toast.js' %}"></script>
<script>
    showBootstrapAlertWithIcon(
        "Si è verificato un errore durante il login. Per favore, riprova.","bad"
    );
</script>
{% endif %}
<div class="container mt-5" style="max-width: 400px;">
    <div class="card shadow" style="border-color: {{SECONDARY_COLOR}};">
        <div class="card-header text-white" style="background-color: {{SECONDARY_COLOR}};">
            <h4 class="mb-0">Login</h4>
        </div>
        <div class="card-body">
            <form id="login-form" method="post" autocomplete="off">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required maxlength="{{MAX_UNAME_CHARS}}" style="border-color: {{TERTIARY_COLOR}};">
                    <div id="username-error" class="invalid-feedback" style="display:none;"></div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required maxlength="{{MAX_PWD_CHARS}}" style="border-color:{{TERTIARY_COLOR}};">
                    <div id="password-error" class="invalid-feedback" style="display:none;"></div>
                </div>
                <button type="submit" class="btn btn-block text-white" style="background-color: {{SECONDARY_COLOR}};">Accedi</button>
            </form>
        </div>
    </div>
</div>
{% if "error" in request.GET.auth %}
<div class="alert alert-danger d-inline-block w-auto mt-4 mb-0 px-3 py-2" role="alert">
    <i class="bi bi-exclamation-triangle-fill me-2"></i>
    Il login è richiesto per compiere questa azione.
</div>
{% endif %}
{% if "ok" in request.GET.reg %}
<div class="alert alert-success d-inline-block w-auto mt-4 mb-3 px-3 py-2" role="alert">
    <i class="bi bi-check-circle-fill me-2"></i>
    Registrazione completata con successo! Ora puoi accedere ed iniziare a esplorare.
</div>
{% endif %}

<script>
document.addEventListener('DOMContentLoaded', function() {
    const form = document.getElementById('login-form');
    const usernameInput = document.getElementById('username');
    const passwordInput = document.getElementById('password');
    const usernameError = document.getElementById('username-error');
    const passwordError = document.getElementById('password-error');
    passwordInput.addEventListener('input',function() {
        if (passwordInput.classList.contains('is-invalid')){
            passwordError.textContent = "";
            passwordError.style.display = "none";
            passwordInput.classList.remove("is-invalid");
        }
    });
    usernameInput.addEventListener('input',function() {
        if (usernameInput.classList.contains('is-invalid')){
            usernameError.textContent = "";
            usernameError.style.display = "none";
            usernameInput.classList.remove("is-invalid");
        }
    });
    form.addEventListener('submit', function(e) {
        e.preventDefault();
        const username = usernameInput.value.trim();
        const password = passwordInput.value;

        if (!username || !password) {
            if (!username) {
                usernameError.textContent = "Inserisci l'username.";
                usernameError.style.display = "block";
                usernameInput.classList.add("is-invalid");
            }
            if (!password) {
                passwordError.textContent = "Inserisci la password.";
                passwordError.style.display = "block";
                passwordInput.classList.add("is-invalid");
            }
            return;
        }

        fetch("{% url 'sylvelius:check_login_credentials' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",
            },
            body: JSON.stringify({username: username, password: password})
        })
        .then(response => response.json())
        .then(data => {
            if (!data.exists) {
                usernameError.textContent = "Username non esistente.";
                usernameError.style.display = "block";
                usernameInput.classList.add("is-invalid");
            } else if (!data.is_active) {
                usernameError.textContent = "Utente espulso permanentemente.";
                usernameError.style.display = "block";
                usernameInput.classList.add("is-invalid");
            } else {
                usernameError.textContent = "";
                usernameError.style.display = "none";
                usernameInput.classList.remove("is-invalid");
            }
            if (!data.valid_password) {
                passwordError.textContent = "Password non corretta.";
                passwordError.style.display = "block";
                passwordInput.classList.add("is-invalid");
            } else {
                passwordError.textContent = "";
                passwordError.style.display = "none";
                passwordInput.classList.remove("is-invalid");
            }

            if (data.exists && data.valid_password && data.is_active) {
                form.submit();
            }
        });
    });
});
</script>
{% endblock %}