{% extends "base.html" %}
{% load static %}

{% block title %}Risultati Ricerca - Sylvelius{% endblock %}
{% block sign_in_sign_up %}
    {% include "_btn_toprightbuttons.html" %}
{% endblock %}
{% block middle %}
<div class="container-fluid mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            {% if annunci %}
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4">
                    {% for annuncio in annunci %}
                        <div class="col-md-4 mb-4">
                            <div class="card h-100">
                                <a href="{% url 'sylvelius:dettagli_annuncio' annuncio.id %}" class="text-decoration-none text-dark">
                                    <img
                                        data-prodotto-id="{{ annuncio.prodotto.id }}"
                                        class="card-img-top immagine-asincrona"
                                        alt="{{ annuncio.prodotto.nome }}"
                                        src="{% static 'img/default_loading.png' %}"
                                    >
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="{% url 'sylvelius:dettagli_annuncio' annuncio.id %}" class="text-decoration-none text-dark">
                                            <strong>{{ annuncio.prodotto.nome }}</strong>
                                        </a>
                                    </h5>
                                    <p class="card-text">{{ annuncio.prodotto.descrizione_breve|truncatewords:15 }}</p>
                                    <div class="mb-2">
                                        {% for tag in annuncio.prodotto.tags.all|slice:":3" %}
                                            <span class="badge rounded-pill me-1" style="background-color: #6f42c1; color: #fff;">{{ tag.nome }}</span>
                                        {% endfor %}
                                    </div>
                                    <p class="card-text">Prezzo: {{ annuncio.prodotto.prezzo }} €</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                {% include "_btn_paginazione.html" %}
            {% else %}
                <div class="d-flex justify-content-center align-items-center" style="min-height: 200px;">
                    <div class="alert alert-warning mt-4">
                        Nessun annuncio trovato per la tua ricerca.
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<script src="{% static 'js/img_loader.js' %}"></script>
{% endblock %}